{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="padding-top: 20px;"><h1>Neighbourhood254</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">
            <i class="fa fa-hom"></i>
            <h2>Home</h2>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% if user.profile.location %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view-hood' user.profile.location.id%}">
            <i class="fa fa-envelope-o">
              <span class="badge badge-danger">11</span>
            </i>
            <h2>Neighbourood</h2>
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link " href="">
            <i class="fa fa-envelope-o">
            </i>
            <h2>Businesses</h2>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'profile' user.username %}">
            <i class="fa fa-envelope-o"></i>
            </i>
            <h2>Profile</h2>
          </a>
        </li>
      </ul>
      {% if user.profile.location %}
      <span class="badge badge-secondary"
        style="margin-right: 40px; padding: 10px; font-size: large;">{{user.profile.location.name}}</span>
     
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <ul class="navbar-nav ">
        {% if user.is_authenticated %}
        <li class="nav-item active" style="padding-left: 10px;">
          <!-- <a><img class="rounded-circle nav-img" src="{{ user.profile.profile_pic.url }}" alt=""></a></li> -->
          {{user.profile.full_name}}
          <a href="{% url 'logout' %}" type="button" style="margin-top: 20px; margin-left: 5px; color: white;">Logout</a>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>


</body>

</html>