{% extends 'django_registration/base_form.html' %}
{% load bootstrap3 %}
{% block content %}
{{block.super}}

<div class="container">
  <form action="/accounts/register/" method="POST" id="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
      <input type="submit" class="btn btn-lg" value="Register">
    </div>
    <input type="hidden" name="next" value="{{next}}">
  </form>
  <div class="container">
    <p class="text-center">Already have an account? <a href="/accounts/login" style="color: red;">Login</a></p>
  </div>
</div>
{% endblock %}