{%extends "django_registration/base_form.html"%}
{% load bootstrap4 %}
<style>

</style>
{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 " id="form" style="color:white;
    font-family: sans-serif;margin-top: 20px;background: 	#000000;opacity:0.9;" >
        <h2 style="border-bottom:6px solid rgb(184, 202, 209);color: rgb(184, 202, 209);text-align: center;margin-bottom: 10px;padding: 10px;">Log In</h2>
        <form action="/accounts/login/" method="POST" style="color:#757575;" class="login-box">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="form-group">
                <input type="submit" style="background-color: rgb(184, 202, 209);margin-left: 140px" value="Log In"
                    >
            </div>
            <input type="hidden" name="next" value="/">
        </form>
        <div class="panel panel-default text-center">
            <hr>
            <h6 class="text-center  white-text text-muted">Already have an account?</h6>
            <a href="/accounts/register" class="btn btn-blue btn-md text-center sm">Sign Up Here</a>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>
</div>
</div>




{% endblock %}